@media (max-width: 900px){
    .tabla{
        display: flex;
        flex-direction: row;
        padding-top: 2em;
    }
    .media-center{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px){
    .tabla{
        display: flex;
        flex-direction: column;
        padding-top: 2em;
    }
    .media-center{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575){
    .tabla{
        display: flex;
        flex-direction: column;
        padding-top: 2em;
    }
    .media-center{
        display: flex;
        justify-content: center;
    }
}

#checkout{
    height: min-content;
}

